.frame { 
  margin: 0 auto;
  text-align: left;
}
.content {
  font-size: 0;
  background: #fff; 
  overflow: hidden; 
  position: relative;
}

.bounds { 
  width: 320px; 
  height: 455px; 
}

#zoom_container {  }
.push-down-test { top:100px !important; background-color: #000 !important; }
.push-down-test #map1a { display: none !important }
#debug-status { 
  position: absolute;
  top: 0;
  left: 0;
  text-align: left;
  font-size: 10px;
  color: #000;
  z-index: 10
}

.smooth_zoom_preloader { background-image:url("../img/zoom_assets/preloader.gif"); }

.landmarks {
  position:absolute;
  z-index:10;
  top:0;
  left:0;
  cursor:move;
}

.item {
  position:absolute;
  display:none;
}

#stage-center { visibility: hidden; }
/* svg selectors here - - - - - - - - - - - - - - - - - - - - - - */
.covers-on #svg-seats { display: none; }

.covers-on .svg-sect-avail {
  fill: #008CFF;
  stroke: #fff; 
}

.covers-on .svg-sect-unavail{
  fill:#dddddd;
  stroke: #fff; 
}
.svg-sect {
  fill: #ffffff; 
  stroke: #ddd; 
  transition: all 0.5s;
}


.covers-on .extras {  display:none; }

.section-names { display: none;}
.covers-on .section-names { display: inline;}

#stage-path { fill: #414141;}

.seat-avail,
.seat-standard{fill: #008CFF;}

.seat-resale{ fill: #ab0507; }

.seat-selected {fill: #444444; }

.seat-unavail{ fill: #dddddd;}
.seat:hover{ cursor: pointer;}


/* seat icons */
.g-seat-icons { pointer-events: none; }

.seat-icon-check {
  fill: #30b436 !important;
  stroke: #ffffff;
  stroke-width: 1px; 
  display: none; 
}
.seat-icon-resale {
  fill: #FFFFFF; 
}

/* end - svg selectors - - - - - - - - - - - - - - - - - - - - - - */


.map-finder {
  width: 102.4px;
  height: 76.8px;
  background: transparent url("../img/map-finder2.svg") center center no-repeat;
  background-size: contain;
  opacity: 0.95;
  position: absolute;
  top: 8px;
  right: 8px;
  z-index: 50;
  display: none; /* on load */
}

.map-finder .spot {
  display: block;
  width: 10px;
  height: 10px;
  border: 1px solid #ab0509;
  border-radius: 10px;
  opacity: 0.6;
  box-shadow: 0 4px 5px #000;
  background-color: #d00509;
  position: absolute;
}



/* larger than iPhone landscape, an in the iPad portrait range */
@media only screen and (min-width: 768px) {
  button{padding:0; border:0; cursor:pointer;}
  .controls { display: block;}
  .controls{position:absolute; right:15px; bottom:15px; z-index:10; box-shadow:0px 1px 4px rgba(0,0,0,0.6);}
  .controls button{width:40px; height:40px; display:block; background:url("../img/nav-sprite.png") no-repeat;}
  button.views{background-position:0px 0px; border-bottom:2px solid #999;}
  button.reset{background-position:0px -40px;}
  button.zoom-in{background-position:-40px -80px; border-top:1px solid #ccc;}
  button.zoom-out{background-position:0px -120px; border-top:1px solid #ccc;}
}

  


